body{
    background-color: white;
    margin: auto;
    max-width: 1920px;
    max-height: 1080px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    display: grid;
    grid-template-columns: 13% 87%;
}

.container{
    background: rgb(11,11,11);
    background: linear-gradient(0deg, rgb(22, 22, 22) 75%, rgb(49, 34, 90) 100%); 
}

.one{
    height: 100vh;
    background: rgb(10, 10, 10);
    padding-left: 25px;
    padding-top: 25px;
}

.player{
    position: fixed;
    width: 100vw;
    height: 100px;
    background-color: rgb(24, 24, 24);
    bottom: 0;
    border-top-width: 1.5px;
    border-top-style: solid;
    border-color: #313131;
}

.logo{
    width: 61%;
}

i{
    font-size: 22px;
    padding-right: 12px;
    color: rgb(255, 255, 255);
}

.space{
    height: 13px;
}

h4{
    font-weight: 600;
    font-size: 14px;
}

.h-menu{
    color: rgb(255, 255, 255);
    filter: brightness(0.75);
}

.h-menu:hover,i:hover{
    filter: none;
}

.img-rect{
    background-color: rgb(255, 255, 255);
    height: 25px;
    width: 25px;
    border-radius: 3px;
    display: inline-block;
    margin-right: 9px;
}


/* ----------------------------------------------------------- */

.img-circ{
    background: rgb(10, 10, 10);
    height: 30px;
    width: 30px;
    border-radius: 20px;
    display: inline-block;
    margin-right: 9px;
}

.two{
    padding-left: 30px;
    padding-top: 17px;
}

.navbar{
    position: fixed;
}
